.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  background-color: #FFFFFF;
  min-height: 100vh;
  overflow-y: scroll; 
  overflow-x: hidden; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.page::-webkit-scrollbar {
  display: none; 
}